<div class="row gutter-0">
    <div class="container spacer">
        <div class="col-md-3 tabs">
            <button class="btn tab" [style.font-size.px]="fontSize">Tab 1</button>
            <button class="btn tab" [style.font-size.px]="fontSize">Tab 2</button>
            <button class="btn tab" [style.font-size.px]="fontSize">Tab 3</button>
            <button class="btn tab" [style.font-size.px]="fontSize">Tab 4</button>
            <div class="slidecontainer">
                <input type="range" min="10" max="30" value="15" (input)="valueChanged($event.target.value)">
            </div>
        </div>
        <div class="col-md-9 content">
            <img src="../assets/image.jpg" alt="Image not loaded" class="img">
            <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <h2>List item:</h2>
            <div *ngFor="let item of items; index as i;">
                <button class="btn btn-danger delete" (click)="delete(i)">X</button>
                <span>List Item {{item}}</span>
            </div>
            <button class="btn addMore" (click)="addMore()">
                Add More
            </button>
        </div>
    </div>
</div>
